html, body {
    margin: 0;
    padding: 0;

    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    /* the whole body is not scollabel, 
    but main content will have scrolling */
    overflow: hidden; 
}

ul, li {
    padding: 0;
    margin: 0;
}

.parallax {
    /* Set a specific height */
    min-height: 450px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px;
    width: 1px; 
    margin: -1px;
    padding: 0;
    border: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Page Header Styles */
.page-header {  
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    padding: 0 20px;

    font-weight: bold;
    font-size: 14px;
    color: #f9f9f9;
    background-color: #181d24;
}

    .page-header .logo .dark-font {
        font-weight: normal;
        color: #535456;
    }
    
    .page-header .logo .light-font {
        font-weight: normal;
        color: #bec0c2;
    }
    
    .page-header .logo .white-font {
        font-weight: bold;
        color: #f5f5f6
    }

    .page-header .logo a {
        text-decoration: none;
        color: inherit;
    }

/* Page Header Styles - Top Menu */
.menu {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    position: relative;
}

    .menu ul .contacts-button {
        display: inline-block;
        padding: 12px 18px;
        vertical-align: middle;

        font-weight: normal;
        text-decoration: none;
        background-color: transparent;
        box-shadow: none;
        border: 2px solid #da0b0b;
        color: #da0b0b;
    }

        .menu ul .contacts-button:hover {
            color: white;
            background-color: #da0b0b;
        }

    .menu ul,
    .menu li {
        list-style-type: none;
    }

    .menu li {
        float: left;
    }

    .menu li a {
        display: inline-block;
        padding: 10px 15px;
        text-decoration: none;
        color: inherit;
    }

    .menu .menuToggle {
        display: none;
        cursor: pointer;
        padding: 10px 15px;
        z-index: 100;
    }

/* Scollable Main Content Styles */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: auto;
}

/* Page Footer Styles */
.page-footer {
    min-height: 90px;
    background-color: #262626;
}

/* Home Page Sections Styles */
.section-image {
    width: 100%;
}

.section-content {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px;

    text-align: center;
}

    section > .header,
    .section-content .header {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }

    .section-content div {
        padding-bottom: 40px;
    }

    .section-content .anchor-button {
        display: inline-block;
        padding: 12px 18px;
        vertical-align: middle;
        min-width: 120px;

        font-weight: normal;
        text-decoration: none;
        background-color: transparent;
        box-shadow: none;
        border: 2px solid #272727;
        color: #272727;
    }

        .section-content .anchor-button:hover {
            color: white;
            background-color: #272727;
        }

/* Home Page Background Images */
.first-image {
    background-image: url("../images/first-image.jpg");
}

.second-image {
    background-image: url("../images/second-image.jpg");
}

.third-image {
    background-image: url("../images/third-image.jpg")
}

/* Contact Us Page Styles */
.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

    .contact-us .contact-us-address {
        flex-grow: 1;
    }

    .contact-us .contact-us-photo {
        flex-grow: 2;
    }

    .contact-us .contact-us-photo img {
        width: 100%;
    }

.contact-us-map {
    overflow:hidden;
    padding-bottom:35%;
    position:relative;
    height:0;
}

    .contact-us-map iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

@media screen and (max-width: 800px) {
    .menu ul {
        display: none;
        position: absolute;
        background-color: #181d24;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 50px;
    }

    .menu li {
        float: none;
    }

    .menu .menuToggle {
        display: inline-block;
    }

    .parallax {
        background-attachment: inherit;
    }

    .contact-us-map {
        padding-bottom:100%;
    }
}

@media screen and (max-width: 550px) {
    .parallax {
        min-height: 300px;
    }
}

@media screen and (max-width: 350px) {
    .parallax {
        min-height: 250px;
    }
}

.menu-icon {
    display: block;
    width: 24px;
    height: 18px;
    stroke-width: 1;
    stroke: #fff;
}

.close-icon {
    display: block;
    width: 16px;
    height: 16px;
    stroke-width: 1;
    stroke: #fff;
}