html, body {
    margin: 0;
    padding: 0;

    font-family: Arial,Helvetica,sans-serif;
}

ul, li {
    padding: 0;
    margin: 0;
}

.parallax {
    /* Set a specific height */
    min-height: 450px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.visually-hidden {
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px;
    width: 1px; 
    margin: -1px;
    padding: 0;
    border: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Page Header Styles */
.page-header {  
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;

    font-weight: bold;
    font-size: 14px;
    color: #f9f9f9;
    background-color: #181d24;
}
    .page-header .logo {
        flex-grow: 1;
        justify-content: flex-start;
        padding-left: 20px;   
    }

    .page-header .logo .dark-font {
        font-weight: normal;
        color: #535456;
    }
    
    .page-header .logo .light-font {
        font-weight: normal;
        color: #bec0c2;
    }
    
    .page-header .logo .white-font {
        font-weight: bold;
        color: #f5f5f6
    }

    .page-header .logo a {
        text-decoration: none;
        color: inherit;
    }

    /* Page Header Styles - Top Menu */
    .page-header .menu {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-grow: 1;
        position: relative;
        padding-right: 20px;
    }

        .page-header .menu ul .contacts-button {
            display: inline-block;
            padding: 12px 18px;
            vertical-align: middle;

            font-weight: normal;
            text-decoration: none;
            background-color: transparent;
            box-shadow: none;
            border: 2px solid #da0b0b;
            color: #da0b0b;
        }

            .page-header .menu ul .contacts-button:hover {
                color: white;
                background-color: #da0b0b;
            }

        .page-header .menu ul,
        .page-header .menu li {
            list-style-type: none;
        }

        .page-header .menu li {
            float: left;
        }

        .page-header .menu li a {
            display: inline-block;
            padding: 10px 15px;
            text-decoration: none;
            color: inherit;
        }

        .page-header .menu .menuToggle {
            display: none;
            cursor: pointer;
            padding: 10px 15px;
            background: transparent;
            z-index: 100;
        }

/* Page Footer Styles */
.page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    flex-wrap: wrap;
    min-height: 90px;
    padding: 20px;
    font-size: 14px;
    color: #f9f9f9;
    background-color: #181d24;
}

    .page-footer ul,
    .page-footer li {
        list-style-type: none;
    }

    .page-footer li {
        padding: 5px 0px;
        color: #535456;
    }

    .page-footer .header {
        font-weight: bold;
    }

/* Home Page Sections Styles */
.section-image {
    width: 100%;
}

.section-content {
    max-width: 950px;
    margin: 0 auto;
    padding: 60px;

    text-align: center;
}

    section > .header,
    .section-content .header {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 40px;
        text-transform: uppercase;
        text-align: center;
    }

    .section-content > div {
        padding-bottom: 40px;
    }

    .section-content .anchor-button {
        display: inline-block;
        padding: 12px 18px;
        vertical-align: middle;
        min-width: 120px;

        font-weight: normal;
        text-decoration: none;
        background-color: transparent;
        box-shadow: none;
        border: 2px solid #272727;
        color: #272727;
    }

        .section-content .anchor-button:hover {
            color: white;
            background-color: #272727;
        }

/* Home Page Background Images */
.first-image {
    background-image: url("../images/first-image.jpg");
}

.second-image {
    background-image: url("../images/second-image.jpg");
}

.third-image {
    background-image: url("../images/third-image.jpg")
}

/* Features List Styles */
.features {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    flex-wrap: wrap;
}

    .feature-item {
        flex-grow: 1;
        max-width: 230px;
    }

    .feature-item h3 {
        position: relative;
        padding-top: 120px;
        padding-bottom: 25px;
    }

    .feature-item h3::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        width: 75px;
        height: 76px;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    .feature-item.experience h3::before {
        background-image: url("../images/settings-icon.svg");
    }

    .feature-item.counter h3::before {
        background-image: url("../images/settings-icon.svg");
    }

    .feature-item.quality h3::before {
        background-image: url("../images/settings-icon.svg");
    }

    .feature-item.parts h3::before {
        background-image: url("../images/settings-icon.svg");
    }

/* Contact Us Page Styles */
.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

    .contact-us .contact-us-address {
        flex-grow: 1;
    }

    .contact-us .contact-us-photo {
        flex-grow: 2;
    }

    .contact-us .contact-us-photo img {
        width: 100%;
    }

.contact-us-map {
    overflow:hidden;
    padding-bottom:35%;
    position:relative;
    height:0;
}

    .contact-us-map iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }

@media screen and (max-width: 800px) {
    .page-header .menu ul {
        display: none;
        position: absolute;
        background-color: #181d24;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 50px;
    }

    .page-header .menu li {
        float: none;
    }

    .page-header .menu .menuToggle {
        display: inline-block;
    }

    .parallax {
        background-attachment: inherit;
    }

    .contact-us-map {
        padding-bottom:100%;
    }
}

@media screen and (max-width: 550px) {
    .parallax {
        min-height: 300px;
    }

    .feature-item {
        max-width: unset;
    }
}

@media screen and (max-width: 350px) {
    .parallax {
        min-height: 250px;
    }
}

.menu-icon {
    display: block;
    width: 24px;
    height: 18px;
    stroke-width: 1;
    stroke: #fff;
}

.close-icon {
    display: block;
    width: 16px;
    height: 16px;
    stroke-width: 1;
    stroke: #fff;
}

.phone-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

    .phone-link:hover {
        text-decoration: underline;
    }